# Config

In [1]:
# parameters
SAVE_OUTPUT = True
SIZE_PLOTS = (12,10)
BUFFER_SIZE = 402.336 

#Location of the data
INPUT_DATA_PATH = "../data/raw/fines"
OUTPUT_DATA_PATH = "../data/interim/"

In [4]:
import numpy as np
import pandas as pd
import geopandas as gpd
from pathlib import Path

# Load data

In [6]:
fines=pd.read_csv(Path(INPUT_DATA_PATH) / "multes_total/Tabla estadística.csv")
fines_per_vehicle=pd.read_csv(Path(INPUT_DATA_PATH) /"multes_per_vehicles/Tabla estadística.csv")
fines_per_infraction=pd.read_csv(Path(INPUT_DATA_PATH) /"multes_per_infraccio/Tabla estadística.csv")

# Data management

## Explore data

In [8]:
#Explore fines
print(fines.shape)
print(fines.columns)
print(fines.dtypes)
fines.head()

(11, 4)
Index(['Territorio', 'Tipo de territorio', '2022', '2023'], dtype='object')
Territorio            object
Tipo de territorio    object
2022                   int64
2023                   int64
dtype: object

       Territorio Tipo de territorio    2022    2023
0       Barcelona           Municipi  958866  899951
1    Ciutat Vella          Districte   78380   71618
2        Eixample          Districte  167649  201066
3  Sants-Montjuïc          Districte   87589   80932
4       Les Corts          Districte  120892   83775

In [ ]:
#Explore fines_per_vehicle
print(fines_per_vehicle.shape)
print(fines_per_vehicle.columns)
print(fines_per_vehicle.dtypes)
fines_per_vehicle.head()

(865, 5)
Index(['Territorio', 'Tipo de territorio', 'Tipo de vehículo', '2022', '2023'], dtype='object')
Territorio            object
Tipo de territorio    object
Tipo de vehículo      object
2022                  object
2023                  object
dtype: object

  Territorio Tipo de territorio Tipo de vehículo    2022    2023
0  Barcelona           Municipi          Turismo  608980  594853
1  Barcelona           Municipi             Moto   95181   75226
2  Barcelona           Municipi       Ciclomotor   12579   10050
3  Barcelona           Municipi      Todoterreno    3642    7030
4  Barcelona           Municipi        Furgoneta   57620   50367

In [10]:
#Explore fines_per_infraction
print(fines_per_infraction.shape)
print(fines_per_infraction.columns)
print(fines_per_infraction.dtypes)
fines_per_infraction.head()

(302, 5)
Index(['Territorio', 'Tipo de territorio', 'Normativa', '2022', '2023'], dtype='object')
Territorio            object
Tipo de territorio    object
Normativa             object
2022                  object
2023                  object
dtype: object

,Territorio,Tipo de territorio,Normativa,2022,2023
0,Barcelona,Municipi,Ley de seguridad vial,36504,8555
1,Barcelona,Municipi,Reglamento general de circulación,413815,363414
2,Barcelona,Municipi,Ordenanza de circulación de peatones y vehículos,446739,458697
3,Barcelona,Municipi,No consta,61808,69285
4,Ciutat Vella,Districte,Ley de seguridad vial,3023,1246

### Explore territori

In [14]:
print(fines["Territorio"].nunique())
print(fines_per_vehicle["Territorio"].nunique())
print(fines_per_infraction["Territorio"].nunique())


# print(fines["Territorio"].value_counts())
# print(fines_per_vehicle["Territorio"].value_counts())
# print(fines_per_infraction["Territorio"].value_counts())

11
84
84

In [15]:
print(fines["Tipo de territorio"].value_counts())
print(fines_per_vehicle["Tipo de territorio"].value_counts())
print(fines_per_infraction["Tipo de territorio"].value_counts())

Tipo de territorio
Districte    10
Municipi      1
Name: count, dtype: int64
Tipo de territorio
Barri        734
Districte     99
-             21
Municipi      11
Name: count, dtype: int64
Tipo de territorio
Barri        254
Districte     36
-              8
Municipi       4
Name: count, dtype: int64

## Save output

In [ ]:
if SAVE_OUTPUT:
    df.to_parquet(f'{OUTPUT_DATA_PATH}/file.parquet')

## Watermark

In [ ]:
!python -m pip install watermark --quiet

In [ ]:
%load_ext watermark

In [ ]:
%watermark

Last updated: 2024-08-23T15:55:33.641180+00:00

Python implementation: CPython
Python version       : 3.10.12
IPython version      : 7.34.0

Compiler    : GCC 11.4.0
OS          : Linux
Release     : 6.1.85+
Machine     : x86_64
Processor   : x86_64
CPU cores   : 2
Architecture: 64bit

In [ ]:
%watermark --iversions

json  : 2.0.9
pandas: 2.1.4
google: 2.0.3
numpy : 1.26.4

In [ ]:
!lsb_release -a

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.3 LTS
Release:	22.04
Codename:	jammy